/* // Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero-wrapper {
    display: flex;
    background-color: red;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1199px) and (max-width: 1600px) {
  .hero-wrapper {
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .hero-header {
    display: flex;
    align-items: center;
    background: url("https://hellloexpert.com/tf/html/motonic/assets/images/slider/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    font-family: "Source Sans Pro", sans-serif;
    width: 50%;
    text-transform: capitalize;
  }
  .hero-header .header-one {
    font-size: 2rem;
  }
  .hero-header .header-two {
    font-size: 1.7rem;
  }
  .hero-header .header-three {
    font-size: 1.9rem;
  }
  .hero-header .header-four {
    font-size: 1.5rem;
  }
  .hero-header .header-five {
    font-size: 1.7rem;
  }
}
